body {
background-color: #f8f8f8;
}

h1 {
font-size: 18px;
font-weight: 400;
background-color: #eaeaea;
}

.kratko {
color: #707070;
font-size: 14px;
font-style: italic;
line-height: 16px;
}

.podrobno {
color: #484343;
font-size: 16px;
font-weight: 600;
line-height: 16px;
text-align: left;
}

ul li {
list-style-position: inside;
list-style-type: circle;
background-color: #DCDCDC;
}

img {
height: 300;
width: 300;
}