.App1 {
    font-family: sans-serif;
    text-align: center;
    color:blue;
  }

.App2 {
  font-family: Arial;
  text-align: left;
}

.App3 {
  font-family: serif;
  text-align: center;
}